a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
	padding: 0
}

a:focus, button:focus {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}

a {
	text-decoration: none;
	color: #000
}

button, input, label, textarea {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	line-height: 1
}

button, input, label, select, textarea {
	margin: 0;
	border: 0;
	padding: 0;
	background: none
}

input:focus {
	outline: 0
}

input, textarea {
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

button, input[type=button], input[type=checkbox], input[type=radio], input[type=reset], input[type=submit], select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

input[type=checkbox], input[type=radio] {
	width: 13px;
	height: 13px
}

input:-webkit-autofill, input:-webkit-autofill:focus {
	-webkit-text-fill-color: #fff
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s
}

button, input[type=button], input[type=reset], input[type=submit] {
	overflow: visible;
	width: auto
}

::-webkit-file-upload-button {
	padding: 0;
	border: 0;
	background: none
}

button::-moz-focus-inner {
	border: 0
}

:active, :focus, :hover {
	outline-offset: 0;
	outline: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

input[type=text]:focus {
	outline: none
}

h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before: 0;
	margin-block-start: 0;
	-webkit-margin-after: 0;
	margin-block-end: 0;
	font-size: inherit;
	font-weight: 400
}

@font-face {
	font-family: Proxima Nova Lt;
	src: local("Proxima Nova Light"), local("ProximaNova-Light"), url(../fonts/ProximaNova-Light.e0bf8389.woff2) format("woff2"), url(../fonts/ProximaNova-Light.1a05d5ad.woff) format("woff"), url(../fonts/ProximaNova-Light.2ed3c7d7.ttf) format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: Proxima Nova;
	src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url(../fonts/ProximaNova-Regular.ecef0fae.woff2) format("woff2"), url(../fonts/ProximaNova-Regular.2d2ae255.woff) format("woff"), url(../fonts/ProximaNova-Regular.7ce6760d.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Proxima Nova SemiBold;
	src: local("Proxima Nova SemiBold"), local("ProximaNova-SemiBold"), url(../fonts/ProximaNova-Semibold.c8dbfaeb.woff2) format("woff2"), url(../fonts/ProximaNova-Semibold.3c4a5cda.woff) format("woff"), url(../fonts/ProximaNova-Semibold.3625e925.ttf) format("truetype");
	font-weight: 600;
	font-style: normal
}

.v-select {
	position: relative;
	font-family: inherit
}

.v-select, .v-select * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@-webkit-keyframes vSelectSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes vSelectSpinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.vs__fade-enter-active, .vs__fade-leave-active {
	-webkit-transition: opacity .15s cubic-bezier(1, .5, .8, 1);
	transition: opacity .15s cubic-bezier(1, .5, .8, 1)
}

.vs__fade-enter, .vs__fade-leave-to {
	opacity: 0
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
	cursor: not-allowed;
	background-color: #f8f8f8
}

.v-select[dir=rtl] .vs__actions {
	padding: 0 3px 0 6px
}

.v-select[dir=rtl] .vs__clear {
	margin-left: 6px;
	margin-right: 0
}

.v-select[dir=rtl] .vs__deselect {
	margin-left: 0;
	margin-right: 2px
}

.v-select[dir=rtl] .vs__dropdown-menu {
	text-align: right
}

.vs__dropdown-toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 0 4px 0;
	background: none;
	border: 1px solid rgba(60, 60, 60, .26);
	border-radius: 4px;
	white-space: normal
}

.vs__dropdown-toggle, .vs__selected-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.vs__selected-options {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 2px;
	position: relative
}

.vs__actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 4px 6px 0 3px
}

.vs--searchable .vs__dropdown-toggle {
	cursor: text
}

.vs--unsearchable .vs__dropdown-toggle {
	cursor: pointer
}

.vs--open .vs__dropdown-toggle {
	border-bottom-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.vs__open-indicator {
	fill: rgba(60, 60, 60, .5);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform .15s cubic-bezier(1, -.115, .975, .855);
	transition: -webkit-transform .15s cubic-bezier(1, -.115, .975, .855);
	transition: transform .15s cubic-bezier(1, -.115, .975, .855);
	transition: transform .15s cubic-bezier(1, -.115, .975, .855), -webkit-transform .15s cubic-bezier(1, -.115, .975, .855);
	-webkit-transition-timing-function: cubic-bezier(1, -.115, .975, .855);
	transition-timing-function: cubic-bezier(1, -.115, .975, .855)
}

.vs--open .vs__open-indicator {
	-webkit-transform: rotate(180deg) scale(1);
	transform: rotate(180deg) scale(1)
}

.vs--loading .vs__open-indicator {
	opacity: 0
}

.vs__clear {
	fill: rgba(60, 60, 60, .5);
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-right: 8px
}

.vs__dropdown-menu {
	display: block;
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	z-index: 1000;
	padding: 5px 0;
	margin: 0;
	width: 100%;
	max-height: 350px;
	min-width: 160px;
	overflow-y: auto;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
	border: 1px solid rgba(60, 60, 60, .26);
	border-top-style: none;
	border-radius: 0 0 4px 4px;
	text-align: left;
	list-style: none;
	background: #fff
}

.vs__no-options {
	text-align: center
}

.vs__dropdown-option {
	line-height: 1.42857143;
	display: block;
	padding: 3px 20px;
	clear: both;
	color: #333;
	white-space: nowrap
}

.vs__dropdown-option:hover {
	cursor: pointer
}

.vs__dropdown-option--highlight {
	background: #5897fb;
	color: #fff
}

.vs__selected {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f0f0f0;
	border: 1px solid rgba(60, 60, 60, .26);
	border-radius: 4px;
	color: #333;
	line-height: 1.4;
	margin: 4px 2px 0 2px;
	padding: 0 .25em
}

.vs__deselect {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-left: 4px;
	padding: 0;
	border: 0;
	cursor: pointer;
	background: none;
	fill: rgba(60, 60, 60, .5);
	text-shadow: 0 1px 0 #fff
}

.vs--single .vs__selected {
	background-color: transparent;
	border-color: transparent
}

.vs--single.vs--open .vs__selected {
	position: absolute;
	opacity: .4
}

.vs--single.vs--searching .vs__selected {
	display: none
}

.vs__search::-ms-clear, .vs__search::-webkit-search-cancel-button, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
	display: none
}

.vs__search, .vs__search:focus {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1.4;
	font-size: 1em;
	border: 1px solid transparent;
	border-left: none;
	outline: none;
	margin: 4px 0 0 0;
	padding: 0 7px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 0;
	max-width: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

.vs__search::-webkit-input-placeholder {
	color: inherit
}

.vs__search::-moz-placeholder {
	color: inherit
}

.vs__search:-ms-input-placeholder {
	color: inherit
}

.vs__search::-ms-input-placeholder {
	color: inherit
}

.vs__search::placeholder {
	color: inherit
}

.vs--unsearchable .vs__search {
	opacity: 1
}

.vs--unsearchable .vs__search:hover {
	cursor: pointer
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
	opacity: .2
}

.vs__spinner {
	-ms-flex-item-align: center;
	align-self: center;
	opacity: 0;
	font-size: 5px;
	text-indent: -9999em;
	overflow: hidden;
	border-top: .9em solid hsla(0, 0%, 39.2%, .1);
	border-right: .9em solid hsla(0, 0%, 39.2%, .1);
	border-bottom: .9em solid hsla(0, 0%, 39.2%, .1);
	border-left: .9em solid rgba(60, 60, 60, .45);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: vSelectSpinner 1.1s linear infinite;
	animation: vSelectSpinner 1.1s linear infinite;
	-webkit-transition: opacity .1s;
	transition: opacity .1s
}

.vs__spinner, .vs__spinner:after {
	border-radius: 50%;
	width: 5em;
	height: 5em
}

.vs--loading .vs__spinner {
	opacity: 1
}

body, html, main {
	width: 100%;
	height: 100%
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#app {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width: 767px) {
	#app {
		height: auto
	}
}

.main-content {
	background-color: #f0f0f0;
	font-family: Proxima Nova, Proxima Nova Lt, Arial, sans-serif
}

.component-fade-enter-active, .component-fade-leave-active {
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease
}

.component-fade-enter, .component-fade-leave-to {
	opacity: 0
}

.blue-button {
	width: 120px;
	height: 40px;
	-webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .25);
	box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .25);
	border-radius: 20px;
	background-color: #48a5ea;
	color: #fff;
	font-family: Proxima Nova Semibold, sans-serif;
	font-size: 16px;
	-webkit-transition: background-color .3s;
	transition: background-color .3s
}

.blue-button:hover {
	background-color: #1880ce
}

.blue-button:active {
	background-color: #48a5ea
}

.reset-button {
	color: #a0a0a0;
	font-family: Proxima Nova, sans-serif;
	font-size: 16px;
	-webkit-transition: all .3s;
	transition: all .3s
}

.reset-button:hover {
	color: #6d6d6d
}

.reset-button:active {
	color: #48a5ea
}

.circle-button {
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: all .3s;
	transition: all .3s
}

.circle-button.down-button {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.circle-button.down-button, .circle-button.up-button {
	background: url(../img/Arrow_Up.36c176bc.svg) 50% no-repeat
}

.circle-button:hover {
	background-color: hsla(0, 0%, 100%, .3)
}

.circle-button:active {
	background-color: #48a5ea
}

.dots {
	width: 18px;
	height: 51px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.dot {
	width: 6px;
	height: 6px;
	background-color: #fff;
	border-radius: 50%
}

.dot.active {
	width: 13px;
	height: 13px;
	border-radius: 0 50% 50% 50%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.main-nav {
	width: 160px;
	height: 100%;
	background-color: #48a5ea;
	padding-top: 40px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative
}

.main-nav, .main-nav__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.main-nav__content {
	height: 520px;
	width: 40px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.blue-rounded-rectangle {
	position: absolute;
	width: 50px;
	height: 24px;
	border-radius: 12px;
	background-color: #48a5ea
}

.blue-rounded-rectangle.rounded-rectangle-1 {
	top: 0;
	left: -34px
}

.blue-rounded-rectangle.rounded-rectangle-3 {
	top: 48px;
	left: -17px
}

.gray-rounded-rectangle {
	position: absolute;
	width: 16px;
	height: 24px;
	border-radius: 0 12px 12px 0;
	background-color: #e4e4e4
}

.gray-rounded-rectangle.rounded-rectangle-2 {
	top: 24px;
	left: 0
}

.gray-rounded-rectangle.rounded-rectangle-4 {
	top: 72px;
	left: 0
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-nav {
		padding-top: 20px;
		width: 130px;
		height: auto
	}

	.main-nav__content {
		height: 500px
	}

	.blue-rounded-rectangle, .gray-rounded-rectangle {
		display: none
	}
}

@media (max-width: 767px) {
	.main-nav {
		width: 70px;
		height: auto
	}

	.main-nav__content {
		height: 80vh;
		position: fixed
	}

	.blue-rounded-rectangle, .gray-rounded-rectangle {
		display: none
	}
}

.title-h3 {
	color: #3897d9;
	font-family: Proxima Nova SemiBold, sans-serif;
	font-size: 24px;
	line-height: 17px
}

.field__wrap {
	position: relative;
	margin: auto;
	max-width: 360px;
	font-family: Proxima Nova, sans-serif;
	font-size: 14px
}

.field__wrap .success-icon {
	color: #56b650;
	position: absolute;
	font-size: 20px;
	bottom: 14px;
	right: 0;
	opacity: 0;
	display: none;
	-webkit-transition: all .3s;
	transition: all .3s
}

.field__wrap .success-icon.right20 {
	right: 20px
}

.field__wrap .lock-icon {
	position: absolute;
	color: #a0a0a0;
	font-size: 20px;
	bottom: 12px;
	right: 0;
	-webkit-transition: all .3s;
	transition: all .3s
}

.field__wrap.small-field__wrap {
	width: 44.4%
}

.field__wrap .chevron-down-icon {
	color: #000;
	font-size: 20px;
	position: absolute;
	right: 0;
	bottom: 12px;
	-webkit-transition: all .3s;
	transition: all .3s
}

.field {
	-webkit-appearance: none;
	width: calc(100% - 15px);
	font-family: inherit;
	padding-bottom: 12px;
	padding-top: 22px;
	font-size: 20px;
	line-height: 15px;
	color: #333;
	-webkit-transition: all .15s ease;
	transition: all .15s ease
}

.field:-webkit-autofill, .field:-webkit-autofill:focus {
	-webkit-text-fill-color: #333
}

.field.success ~ .success-icon {
	display: inline-block;
	opacity: 1
}

.field.uppercase {
	text-transform: uppercase
}

.field:hover {
	cursor: pointer
}

.field:focus ~ .lock-icon {
	color: #48a5ea
}

.field:focus ~ .field__border {
	background-color: #48a5ea
}

.field__label {
	position: absolute;
	bottom: 14px;
	left: 0;
	color: #000;
	font-size: 20px;
	line-height: 15px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	pointer-events: none
}

.field__border {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 0
}

.basic-field:not(:placeholder-shown) + .field__label {
	color: #9e9e9e;
	-webkit-transform: translateY(-26px) scale(.68);
	transform: translateY(-26px) scale(.68)
}

.basic-field:focus + .field__label {
	font-family: Proxima Nova SemiBold, sans-serif;
	color: #48a5ea;
	-webkit-transform: translateY(-26px) scale(.68);
	transform: translateY(-26px) scale(.68)
}

.basic-field.error ~ .field__border {
	background-color: red
}

.basic-field.error + .field__label {
	font-family: Proxima Nova SemiBold, sans-serif;
	color: red
}
.basic-field.error ~ .lock-icon {
	  color: red;
  }

.select-filed {
	height: 59px;
	line-height: 1
}

.select-filed.field:focus + .field__label {
	font-family: Proxima Nova SemiBold, sans-serif;
	color: #48a5ea
}

.select-filed.field:focus + .field__label, .select-filed.selected + .field__label {
	-webkit-transform: translateY(-26px) scale(.68);
	transform: translateY(-26px) scale(.68)
}

.select-filed.selected + .field__label {
	color: #9e9e9e
}

.select-filed.active ~ .chevron-down-icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.select-filed.error {
	border-bottom: 1px solid red
}

.select-filed.error ~ .field__border {
	background-color: red
}

.select-filed.error + .field__label {
	font-family: Proxima Nova SemiBold, sans-serif;
	color: red
}

.main-form__fields {
	border-bottom: 1px solid hsla(0, 0%, 84.7%, .3);
	border-top: 1px solid hsla(0, 0%, 84.7%, .3);
	padding-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.main-form__column {
	max-width: 360px;
	-ms-flex-preferred-size: 47.37%;
	flex-basis: 47.37%
}

.main-form__input-wrap {
	margin-bottom: 30px;
	width: 100%
}

.main-form__buttons, .main-form__input-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.main-form__buttons {
	margin-top: 30px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-form {
		margin-bottom: 40px
	}

	.main-form__fields {
		padding-top: 20px
	}
}

@media (max-width: 767px) {
	.main-form {
		margin-bottom: 40px
	}

	.main-form__fields {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-top: 20px
	}
}

.form-popup {
	width: 1000px;
	height: 600px;
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, .1);
	box-shadow: 0 0 60px rgba(0, 0, 0, .1);
	border-radius: 8px;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.form-popup__content {
	margin: 0 auto;
	width: 76%;
	padding-top: 40px
}

.form-popup__title {
	margin-bottom: 39px
}

@media (min-width: 992px) and (max-width: 1199px) {
	.form-popup {
		width: 920px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.form-popup {
		width: 100%;
		height: auto
	}

	.form-popup__content {
		padding-top: 20px
	}

	.form-popup__title {
		margin-top: 20px;
		margin-bottom: 20px
	}
}

@media (max-width: 767px) {
	.form-popup {
		width: 100%;
		height: auto
	}

	.form-popup__content {
		padding-top: 20px;
		width: auto;
		padding-right: 7%;
		padding-left: 7%
	}

	.form-popup__title {
		margin-top: 20px;
		margin-bottom: 20px
	}
}