.form-popup {
	width: 1000px;
	height: 600px;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
	display: flex;
	&__content {
		margin: 0 auto;
		width: 76%;
		padding-top: 40px;
	}
	&__title {
		margin-bottom: 39px;
	}
}
@include for-medium {
	.form-popup {
		width: 920px;
	}
}
@include for-small {
	.form-popup {
		width: 100%;
		height: auto;
		&__content {
			padding-top: 20px;
		}
		&__title {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}@include for-extra-small {
	 .form-popup {
		 width: 100%;
		 height: auto;
		 &__content {
			 padding-top: 20px;
			 width: auto;
			 padding-right: 7%;
			 padding-left: 7%;
		 }
		 &__title {
			 margin-top: 20px;
			 margin-bottom: 20px;
		 }
	 }
 }
