@font-face {
	font-family: 'Proxima Nova Lt';
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
	url('../assets/fonts/ProximaNova-Light.woff2') format('woff2'),
	url('../assets/fonts/ProximaNova-Light.woff') format('woff'),
	url('../assets/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
	url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
	url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
	url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova SemiBold';
	src: local('Proxima Nova SemiBold'), local('ProximaNova-SemiBold'),
	url('../assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
	url('../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
	url('../assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}