@import "services/normalize";
@import "services/media";
@import "services/variables";
@import "services/fonts";
@import "~vue-select/src/scss/vue-select.scss";
html, body, main {
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}
#app {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@include for-extra-small {
	#app {
		height: auto;
	}
}
.main-content {
	background-color: #f0f0f0;
	font-family: "Proxima Nova", "Proxima Nova Lt", Arial, sans-serif;
}

.component-fade-enter-active, .component-fade-leave-active {
	transition: opacity .1s ease;
}
.component-fade-enter, .component-fade-leave-to
{
	opacity: 0;
}
@import "components/buttons";
@import "components/dots";
@import "components/main-nav";
@import "components/title";
@import "components/fields";
@import "components/main-form";
@import "components/main-popup";
